.cart-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cart-total__block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}