@use "reset";
@use "variables";

.app-wrapper{
  height: 100vh;
}

main{
  padding: 80px 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert{
  font-size: 20px;
  color: var(--main-color);
}