.header{
  position: fixed;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-right: 1px solid var(--border-color);
  height: 100vh;
}

.header__nav {
  width: 100%;
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.header__nav-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  width: 100%;
  padding: 20px 14px;
  color: var(--main-color);
  border-radius: var(--border-radius-small);
  transition: background-color 0.6s ease;

  &:hover {
    background-color: var(--main-hover-color);
    transition: background-color 0.6s ease;
  }
}