.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
}

.form__title{
  text-align: center;
  color: var(--main-color);
  margin-bottom: 20px;
}

.form-link{
  font-size: 14px;
  text-align: center;
  color: var(--main-color);

  &:hover{
    text-decoration: underline;
  }
}