.card-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.card-total__block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.card-total{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
  padding: 20px;
  margin-right: 20px;

  &__top{
    display: flex;
    gap: 30px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title{
      color: var(--main-color);
    }

    &__price{
      color: var(--main-color);
    }
  }
}

@media (max-width: 1300px) {
  .card-wrapper {
    flex-direction: column;
  }

  .card-total{
    position: static;
    width: 100%;
    max-width: 500px;
    min-width: 400px;
    padding: 20px;
    margin-right: 0;
  }
}